<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/js/appjs/monitoring/banzi/layui/css/layui.css" rel="stylesheet">
<link href="/js/appjs/monitoring/banzi/css/machineGL.css" rel="stylesheet">
<style>

	.layui-form-label {
		width: 77px;
	}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="col-sm-12">
		<div class="ibox">
			<div class="ibox-body">
				<div class="layui-body-inner" >
					<blockquote class="layui-elem-quote">灯控制器 <a class="layui-btn layui-btn-primary" href="javascript:history.back(-1)">返回</a></blockquote>
					<!--第二部分-->
					<div class="ibox float-e-margins">
						<input type="hidden" th:value="${userId}" id="userId"/>
						<table id="exampleTable" data-mobile-responsive="true">
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
</div>

<div th:include="include :: footer"></div>
<script>
	//Demo
	layui.use('form', function() {
		var form = layui.form;

		//监听提交
		form.on('submit(formDemo)', function(data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
</script>
<script>
	//JavaScript代码区域
	layui.use('element', function() {
		var element = layui.element;
		var form = layui.form;
	});
</script>

<script type="text/javascript" src="/js/appjs/monitoring/lightCtr/lightCtr.js"></script>
</body>
</html>