<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/js/appjs/monitoring/banzi/layui/css/layui.css" rel="stylesheet">
<link href="/js/appjs/monitoring/banzi/css/machineGL.css" rel="stylesheet">
<style>
	#setOffTime{
		padding:20px;
	}
	.layui-form-label {
		width: 77px;
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="layui-body-inner">
							<blockquote class="layui-elem-quote">机器管理</blockquote>
							<!--第二部分-->
							<div class="ibox float-e-margins">
								<div class="ibox-content padding_none" style="padding-bottom:0 !important" ;>
									<form class="layui-form">
										<div class="layui-form-item">
											<label class="layui-form-label">机器列表</label>
											<div class="layui-input-block">
												<select name="city" lay-verify="required" id="selectList"  lay-filter="list">
													<!--<option value=""></option>-->
													<option value="1" delected>新风机列表</option>
													<option value="2">饮水机列表</option>
													<option value="3">智能灯列表</option>
												</select>
											</div>
										</div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">IP</label>
                                            <div class="layui-input-block">
                                                <input type="text" id="prop10"  name="prop10" required lay-verify="required" placeholder="请输入IP" class="layui-input" style="width:300px;">
                                            </div>
                                        </div>
									</form>
								</div>
								<input type="hidden" th:value="${userId}" id="userId"/>
								<table id="exampleTable" data-mobile-responsive="true">
								</table>
								<table id="exampleTable1" data-mobile-responsive="true">
								</table>
								<table id="exampleTable2" data-mobile-responsive="true">
								</table>
							</div>
						</div>
					</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script>


        $("#prop10").on("input propertychange",function(){
            var opt = {
                query : {
                    prop10 : $("#prop10").val(),
                }
            }
            $('#exampleTable').bootstrapTable('refresh', opt);
        });

		//JavaScript代码区域
		layui.use('element', function() {
			var element = layui.element;
		});


        //Demo
        layui.use('form', function() {
            var form = layui.form;
            //监听机器列表
            form.on('select(list)', function(data){
                if(data.value == 1){
                    $('#exampleTable').bootstrapTable('hideColumn', 'cumulativeFlow');
                    $('#exampleTable').bootstrapTable('hideColumn', 'machineName');
                    $('#exampleTable').bootstrapTable('showColumn', 'length');
                    $('#exampleTable').bootstrapTable('showColumn', 'status');
                }else if(data.value == 2){
                    $('#exampleTable').bootstrapTable('showColumn', 'cumulativeFlow');
                    $('#exampleTable').bootstrapTable('hideColumn', 'machineName');
                    $('#exampleTable').bootstrapTable('hideColumn', 'length');
                    $('#exampleTable').bootstrapTable('showColumn', 'status');
                }else if(data.value == 3){
                    $('#exampleTable').bootstrapTable('hideColumn', 'cumulativeFlow');
                    $('#exampleTable').bootstrapTable('showColumn', 'machineName');
                    $('#exampleTable').bootstrapTable('hideColumn', 'length');
                    $('#exampleTable').bootstrapTable('hideColumn', 'status');
                }
                reLoad();
            });
        });
	</script>
	<script type="text/javascript" src="/js/appjs/monitoring/monitoring/monitoring_unbound.js"></script>
</body>
</html>