<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/js/appjs/monitoring/banzi/layui/css/layui.css" rel="stylesheet">
<link href="/js/appjs/monitoring/banzi/css/add.css" rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="layui-body-inner">
						<blockquote class="layui-elem-quote">线索管理<a class="layui-btn layui-btn-primary" href="javascript:history.back(-1)">返回</a></blockquote>
						<!--第二部分-->
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5><span class="span_tu"></span>添加线索</h5>
							</div>
							<div class="ibox-content">
								<form class="layui-form layui-form-pane" action="" id="addClueForm">
									<div class="layui-form-item">
										<label class="layui-form-label">对接人</label>
										<div class="layui-input-block">
											<input type="text" name="personPicup" autocomplete="off" placeholder="请输入对接人" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">公司名称</label>
										<div class="layui-input-block">
											<input type="text" name="companyName" placeholder="请输入公司名称" autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">负责人</label>
										<div class="layui-input-block">
											<input type="text" name="userName" lay-verify="required" placeholder="请输入负责人" autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">负责人电话</label>
										<div class="layui-input-block">
											<input type="text" name="personCharge" autocomplete="off" placeholder="请输入负责人电话" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">单位地址</label>
										<div class="layui-input-block">
											<input type="text" name="companyAddress" autocomplete="off" placeholder="请输入单位地址" class="layui-input">
										</div>
									</div>
									<div class="visit">
										<div class="layui-form-item">
											<label class="layui-form-label">拜访时间</label>
											<div class="layui-input-inline">
												<input type="text" class="layui-input time" name="visitTime" placeholder="yyyy-MM-dd">
											</div>
											<div class="layui-input-inline" style="width:auto;">
												<button class="layui-btn" type="button" id="addTime">添加</button>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">拜访题目</label>
											<div class="layui-input-block">
												<input type="text" placeholder="请输入拜访题目" class="layui-input" name="visitTitle"></input>
											</div>
										</div>
										<div class="layui-form-item layui-form-text">
											<label class="layui-form-label">拜访详情</label>
											<div class="layui-input-block">
												<textarea placeholder="请输入内容" class="layui-textarea" name="visitDetail"></textarea>
											</div>
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<button class="layui-btn" type="button" onclick="save()">确认</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>

	<script>
        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element;
        });
	</script>
	<script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            //拜访时间
            laydate.render({
                elem: '.time' //指定元素
            });
        });
	</script>
	<script type="text/javascript">
		var itemnum = 0;
        $("#addTime").on("click",function(){
            var _html =
				 '<div class="layui-form-item visit-time">'
                +' <label class="layui-form-label">拜访时间</label>'
                +' <div class="layui-input-inline">'
                +'  <input type="text" class="layui-input time" name="visitTime" placeholder="yyyy-MM-dd">'
                +' </div>'
                +' <div class="layui-input-inline">'
                +'  <button class="layui-btn delTime" type="button" onclick="delvisitTime(event,' + itemnum + ')">删除</button>'
                +' </div>'
                +'</div>'
                +'<div class="layui-form-item visit-title-' + itemnum + '">'
                +'<label class="layui-form-label">拜访题目</label>'
                +'<div class="layui-input-block">'
                +'<input placeholder="请输入拜访题目" class="layui-input" name="visitTitle" />'
                +'</div>'
                +'</div>'
                +'<div class="layui-form-item layui-form-text visit-detail-' + itemnum + '">'
                +'<label class="layui-form-label">拜访详情</label>'
                +'<div class="layui-input-block">'
                +'<textarea placeholder="请输入内容" class="layui-textarea" name="visitDetail"></textarea>'
                +'</div>'
                +'</div>';
            $(".visit").append( _html);
            itemnum = itemnum + 1;
        });
        function delvisitTime(e, itemnum){
            $( e.target ).closest('.visit-time').remove();
            $(".visit-title-" + itemnum).remove();
            $(".visit-detail-" + itemnum).remove();
            return false;
        };

        function rendertime() {
            var laydate = layui.laydate;
            //拜访时间
            laydate.render({
                elem: this,
				trigger : 'click'
            });
        }
	</script>
	<script>
        layui.use('table', function() {
            form = layui.form;
        });
	</script>

	<script type="text/javascript" src="/js/appjs/cluemanger/add.js">
	</script>
</body>
</html>
