header {
	/*width:6.4rem;*/
	padding: 0 0.3rem;
	border-bottom: 0.2rem solid #f7f7f7;
}

header section {
	width: 5.8rem;
	padding-left: 0.1rem;
	box-sizing: border-box;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #bbb;
}

header section span {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #0f8cff;
	display: inline-block;
	vertical-align: middle;
}

header section label {
	color: #777;
	font-size: 0.3rem;
	margin-left: 0.2rem;
	vertical-align: middle;
	width: 1.2rem;
	display: inline-block;
	margin-right: 0.7rem;
}

header section i {
	width: 3.5rem;
	font-size: 0.3rem;
	color: #444;
	outline: none;
	vertical-align: middle;
}

header section:last-child {
	border-bottom: 0;
}

main {
	width: 6.4rem;
	padding: 0 0.3rem;
}

main>h2 {
	/*background:url(img/manyi.png) no-repeat 0 0rem;*/
	/*color:#0f8cff;*/
	width: 5.8rem;
	padding: 0.4rem 0;
	font-size: 0.36rem;
}

main>h2 span {
	font-size: 0.36rem;
	color: #222;
}

main>h2 span.title {
	float: right;
	color: #999;
	font-size: 0.24rem;
	cursor:pointer;
}
main>h2 span.title:hover{
	color:#0F8CFF;
}
main .card {
	width: 5.8rem;
	display: block;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #ebeef5;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

main .card .card-title {
	margin: 0 0.3rem;
	padding: 0.3rem 0;
	overflow: hidden;
	border-bottom: 1px solid #bbb;
}

main .card .card-title .title-left {
	float: left;
	color: #0f8cff;
	font-size: 0.36rem;
}

main .card .card-title .title-date {
	float: right;
	padding-top: 0.06rem;
	font-size: 0.24rem;
	color: #bbb;
}

main .card .card-body {
	padding: 0 0.3rem;
}

main .card .card-body dl dt {
	padding-top: 0.2rem;
}

main .card .card-body dl dt p {
	font-size: 0.28rem;
	color: #333;
	line-height: 0.5rem;
}

main .card .card-body dl dd {
	font-size: 0.26rem;
	color: #777;
	height: 0.5rem;
	line-height: 0.6rem;
	text-align: right;
	margin-bottom: 0.3rem;
}

main button {
	width: 5.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #fff;
	font-size: 0.36rem;
	background: #0F8CFF;
	border-radius: 4px;
	margin-top: 0.3rem;
}

main>p {
	font-size: 0.24rem;
	color: #999;
	text-align: center;
	width: 5.8rem;
	padding: 0.4rem 0;
}