body {
	height:100%;
}

header {
	background: url("../img/Jagged@2x (4).png") no-repeat;
	width: 6.4rem;
	height: 3.3rem;
	background-size: cover;
	padding-top: 1.5rem;
	box-sizing: border-box;
	position: relative;
}

header .logo {
	position: absolute;
	left: 2.17rem;
	width: 2.06rem;
	height: 2.06rem;
	border-radius: 1.03rem;
	border: 1px solid #ebeef5;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 2px 12px 0 #222222;
}

header .logo img {
	width: 1.96rem;
	height: 1.96rem;
	border-radius: 0.98rem;
}

main {
	background: #fff;
	width: 6.4rem;
	padding-top: 1.05rem;
	margin-bottom:1rem;
}

main ul {
	width: 6.4rem;
}

main ul li {
	width: 3.6rem;
	border-bottom: 1px solid #d6d6d6;
	margin: 0 auto;
}

main ul li input {
	padding: 0.6rem 0 0.3rem;
	font-size: 0.34rem;
	outline: none;
	border: 0;
	color: #333;
	text-align: center;
}

main p {
	width: 3.7rem;
	margin: 0 auto;
	margin-top: 1.2rem;
	margin-bottom: 1rem;
	color: #999;
	font-size: 0.36rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
}

footer {
	display: flex;
	justify-content: space-around;
	background: #f6f6f6;
}


footer {
	position:fixed;
	bottom:0;
	left:0;
	display: flex;
	justify-content: space-around;
	background: #f6f6f6;
	width:6.4rem;
}
footer dl {
	/*position:absolute;*/
}

footer dl dt {
	height: 0.4rem;
	margin-top: 0.15rem;
	margin-bottom:0.1rem
}

footer dl dt img {
	display: block;
	margin: 0 auto;
	width:0.42rem;
	height:0.42rem;
}

footer dl dd {
	font-size: 0.22rem;
	height: 0.35rem;
	color: #aaa;
}

.active {
	color: #0F8CFF;
}