<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/js/appjs/monitoring/banzi/layui/css/layui.css" rel="stylesheet">
<link href="/js/appjs/monitoring/banzi/css/machineGL.css" rel="stylesheet">
<script src="/js/appjs/monitoring/banzi/js/echart.js"></script>
<style>
	#weekBar{
		width: 100%;
		height: 300px;
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<h1></h1>
					<div class="layui-body-inner">
						<blockquote class="layui-elem-quote">饮水机监控（历史记录）<a class="layui-btn layui-btn-primary" href="javascript:history.back(-1)">返回</a></blockquote>
						<!--第二部分-->
						<div class="ibox float-e-margins">
							<div class="ibox-content padding_none" style="padding-bottom:0 !important";>
								<form class="layui-form" action="">
									<div class="layui-form-item">
										<label class="layui-form-label">查询时间</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" id="time1" placeholder=" - ">
											<span>
											<a class="btn btn-primary btn-sm " href="#" mce_href="#" title="查询" onclick="echart()">查询</a>
										</span>
										</div>
									</div>
								</form>
							</div>
							<div class="ibox-content padding_none">
								统计数据
								<div id="weekBar"></div>
							</div>
							<!--<div class="ibox-content padding_none" style="padding-bottom:0 !important";>
								<form class="layui-form" action="">
									<div class="layui-form-item">
										<label class="layui-form-label">查询时间</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" id="time2" placeholder=" - ">
										</div>
									</div>
								</form>
							</div>-->
							<div class="ibox-content padding_none">
								统计数据
								<input type="hidden" th:value="${monitorId}" id="monitorId"/>
								<table id="exampleTable" data-mobile-responsive="true">
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->

	</div>
	<div th:include="include :: footer"></div>
	<script>
        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element;
        });
	</script>
	<script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: '#time1'
            });
            laydate.render({
                elem: '#time2'
                ,range: true
            });
        })
	</script>
	<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('weekBar'));
        var option = {
			tooltip: {
				trigger: 'axis'
			},
			legend: {
				data:['原水TDS','净水TDS']
			},
            xAxis: {
                type: 'category',
                data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
				name:'原水TDS',
                data: [],
                type: 'line',
				itemStyle : {
					normal : {
						color:'#ff9f7f',
						lineStyle:{
							color:'#ff9f7f'
						}
					}
				},
				smooth: true
            },{
				name:'净水TDS',
				type:'line',
				smooth: true,
				itemStyle : {
					normal : {
						color:'#009688',
						lineStyle:{
							color:'#009688'
						}
					}
				},
				data:[]
			}]
        };
        myChart.setOption(option);
		var raw=[];
		var purification=[];

		function echart(){
			myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
			$.ajax({
				type : 'POST',
				data : {
					"monitorId" : $("#monitorId").val(),
					"day":$("#time1").val()
				},
				url : '/monitoring/history/chartYs',
				success : function(r) {
					myChart.hideLoading();    //隐藏加载动画
					if (r.code == 0) {
						for(var a=0;a< r.data.length;a++){
							console.log(r.data[a].raw);
							raw.push(r.data[a].raw);
							purification.push(r.data[a].purification);
						}
						option.series[0].data=raw;
						option.series[1].data=purification;
						myChart.setOption(option);
						console.log(raw);
						console.log(purification);
						console.log(r);
					} else {
						layer.msg(r.msg);
					}
				}
			});
		}

//		console.log(option.series[0].data);
//		option.series[0].data=[0,0];
//		myChart.setOption(option);
	</script>
	<script type="text/javascript" src="/js/appjs/monitoring/history/waterHistory.js"></script>
</body>
</html>